<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">
<head>
    <title>Javalanches - Cadastrar novo cliente</title>
</head>
<body>
    <main>
        <h1>Cadastrar novo cliente</h1>
        <hr>
        <!-- TODO: crie um formulário de cadastro de clientes. -->
        <!-- NOTE: inclua os campos do endereço no mesmo formulário -->
        <!-- NOTE: ao terminar, faça as interfaces do cliente e do endereço -->
    </main>
</body>
</html>